body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #36393f;
  color: white;
  background-image: url('https://wallpapercrafter.com/th800/107454-Discord-dark-background.png');
  background-size: cover;
  background-position: center;
}


header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f3136;
  height: 60px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

label {
  font-size: 18px;
  margin-bottom: 5px;
}

input[type="number"] {
  font-size: 16px;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #23272a;
  color: white;
  padding: 0 10px;
}

button {
  font-size: 18px;
  background-color: #7289da;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #5f7ced;
}

textarea {
  font-family: monospace;
  font-size: 16px;
  width: 50%;
  height: 300px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  background-color: #23272a;
  color: white;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 10px;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

img {
  width: 30px;
  height: auto;
  margin-right: 10px;
  border: 5px solid transparent;
  animation: rainbow-border 3s linear infinite;
}

@keyframes rainbow-border {
  0% {
    border-color: #ff0000;
  }
  16.666666666666664% {
    border-color: #ff7f00;
  }
  33.33333333333333% {
    border-color: #ffff00;
  }
  50% {
    border-color: #00ff00;
  }
  66.66666666666666% {
    border-color: #0000ff;
  }
  83.33333333333334% {
    border-color: #4b0082;
  }
  100% {
    border-color: #ff0000;
  }
}
